.match {
    display: flex;
    flex-direction: column;
    border: 2px solid #202020;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #555555;
}

.match:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.match-teamContainer {
    display: flex;
    align-items: center;
}

.match-details-toggle {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #040D12;
    border-radius: 10px;
    border: 2px solid #202020
}

.match-details-toggle:hover {
    background-color: #202020;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer
}

.match-details-toggle p {
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
    user-select: none;
}

.duration {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    margin-top: 23px;
    margin-left: 700px;
}
